:root {
	--focus-border-radius: 8px;
}

.focus-template {
	position: relative;
}

.focus-template:after {
	opacity: 0;
	transition: opacity 0.25s;
}

.focus-template:focus {
	outline: none;
}

.focus-template:focus:after {
	pointer-events: none;
	position: absolute;
	top: var(--focus-border-offset);
	bottom: var(--focus-border-offset);
	left: var(--focus-border-offset);
	right: var(--focus-border-offset);
	border-radius: var(--focus-border-radius);
	border: 2px solid var(--blue-mild);
	opacity: 1;
	content: '';
	display: block;
}
