.glass-template {
	--blur-effect: blur(var(--blur-radius));
	box-shadow: 0 4px 12px rgb(0 0 0 / 0.2);
	border: 1px solid rgb(200 200 200 / 0.25);
	border-radius: 16px;
	background: rgb(127 127 127 / 0.05);
	backdrop-filter: var(--blur-effect);
	-webkit-backdrop-filter: var(--blur-effect);
}
