input.input-template {
	margin: 0;
	border: 2px solid var(--dark-strong);
	border-radius: 0.25em;
	padding: 0.3em 0.5em;
	background-color: var(--dark-strong);
	color: var(--light);
	font-weight: 600;
}

input[type='number'].input-template {
	appearance: textfield;
	-moz-appearance: textfield;
}

input[type='number'].input-template::-webkit-outer-spin-button,
input[type='number'].input-template::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input.input-template:focus {
	outline: none;
	border-color: var(--light);
	background-color: var(--dark);
}

input.input-template::placeholder {
	color: var(--gray);
}
